* {
    box-sizing: border-box;
}

#main-page {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.labels {
    text-align: center;
    margin-bottom: 10px;
}

#filters {
    display: flex;
    margin-bottom: 20px;
    background-color: #333;
    align-items: center;
    justify-content: center;
}

#filters label {
    margin-right: 10px;
}

#main label {
    text-align: center;
    background-color: #333;

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;

}

#table-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
}

#exercise-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exercise-elem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
}


.exercise-elem:hover {
    background-color: gray;
}

.ending {
    display: flex;
    align-items: flex-end;
    text-align: center;

}

.ending > p {
    margin: 15px;
}